body{
    margin: 0;
    font-family: Sans-Serif;
}
.editor{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: grey;
}
.toolbar{
    width: 250px;
    background: #eeeeee;
}
.toolbar-item{
    padding: 15px;
}
.tool-label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
.tool-input{
    width: 100%;
}
.image-area{
    flex-grow: 1;
    padding: 20px;
    background: #555555;
}
#canvas{
    max-width: 100%;
    max-height: 100%;
    filter: 'invert(17%) brightness(100%) contrast(100%)';
}