    .loader{
       position: absolute;
         top: 0;
         overflow: hidden;
         left: 0;
         bottom: 0;
         background: #000;
         height: 100vh;
         width: 100%;
         text-align: center;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         
    }
    .loader img{
         width: 100%;
         height: 50%;
         border-radius: 50%;
    }
    .loader p{
         font-size: 22px;
         color: red;
    }
    .disappear{
         animation: vanish 2s forwards;
}
@keyframes vanish{
     100%{
          opacity: 0;
          visibility: hidden;
          overflow: hidden;
     }
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background: url('green.jpeg');
 height: auto;
 width: 100%;
 box-sizing: border-box;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.open{
      float: right;
      color: #fff;
      font-weight: bold;
 }
.sidenav{
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background: inherit;
     overflow-x: hidden;
     padding-top: 60px;
     transition: 2s;
}
.sidenav a{
     padding: 8px 8px 8px 32px;
     margin-bottom: 40px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 2s;
}
.sidenav .current{
     margin-top: 16%;
}
.sidenav .closebtn{
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
}
.sidenav a:hover{
     color: #f1f1f1;
}


@media screen and (min-height:600px){
     .sidenav{padding-top:8px;}
     .sidenav a{font-size:21px;}
}
           header{
display: flex;
position: fixed;
z-index: 1;
overflow-x: hidden;
top:0;
justify-content: space-between;
background: inherit;
  padding-top:10px;
  min-height:50px;
  width: 100%;
  border-bottom: inherit 3px solid;
}

header a{
     
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}
           header #branding{
  float:left;
}

header  h2{
  margin:0;
  color: whitesmoke;
  font-weight: bold;
  font-size: 29px;
}
header .sidenav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#fff;
  font-weight:bold;
}
.page1{
     margin-top: 20%;
     text-align: center;
     align-items: center;
     height: 100vh;
     width: 100%;
}
.page1 h1{
    padding-inline: 25px; 
    color: whitesmoke;
    font-size: 31px;
}
.of{
     color: #15FF00;
}
.page1 p{
     margin-top: 6%;
     padding-inline: 20px;
     color: whitesmoke;
     font-size: 16px;
}
.page1 button {
     margin-top: 15%;
     border: none;
     outline: none;
     font-size: 15px;
     width: 36%;
     height: 40px;
     color: black;
     background:  #00CBFF;
     border-radius: 10px;
}
.page1 button i{
     font-size: 20px;
     padding-left: 15px;
}
.roll{
     width: 70%;
     background-image: url('roll.png');
     margin-top: 8%; 
     border:none;
     margin-left: 15%;
     background-position: center;
     background-repeat: no-repeat;
     object-fit: fit;
     background-size: cover;

     outline: none;
     height: 40%;
}
.page2{
     height: auto;
     text-align: center;
     width:100% ;
}
.page2 h2{
     text-align: center;
     padding-inline: 10px;
     font-size: 28px;
     color: white;
}
.service img{
     width: 60px;
     height:60px;
     
}
.service{
     margin-top: 6%;
}
.service p{
     color: white;
     font-size: 18px;
     padding-inline: 20px;
}
.page3{
     width: 100%;
     height: auto;
     margin-top: 6%;
     
}

.page3 h2{
     
     text-align: center;
     font-size: 31px;
     color: white;
     margin-top: 3%;
     padding-inline: 20px;
     font-family: Segoe UI;
     font-weight: bold;
}
.page3 .p{
     margin-top: 2%;
     font-size: 16px;
     text-align: center;
     padding-inline: 10px;
     color: white;
}
.page3 button{
     width: 40%;
     height: 40px;
     background: #00CBFF;
     color: black;
     font-size: 17px;
     margin-top: 7%;
     border-radius: 8px;
     border: none;
     outline: none;
     margin-left: 30%;
}
.page3 .content-box{
     width:100%;
     margin-top: 10%;
     height:auto;
    padding-left: 5%;
}
.box{
     float:left;
     width: 30%;
     box-sizing: border-box;
     background: inherit;
     box-shadow: 0px 8px 8px 0px;
     height:100px;
     padding-top: 7%;
     padding-bottom: 3px;
     border-radius: 6px;
}
.box h3{
     font-size: 30px;
     text-align: center;
     color: brown;
     font-family: Segoe UI,Sans-Serif;
     font-weight: bold;
}
.box p{
     font-size: 19px;
     text-align: center;
     color: white;
     font-weight: bold;
}
.txt{
     margin-right: 6%;
     margin-left: 10%;
}

.txt1{
     margin-left: 10%;
     margin-right: 6%;
}
.bull{
     margin-top: 8%;
     width: 100%;
     height: 50vh;
     border-radius: 9px;
}
.form{
     width: 100%;
     height: auto;
     margin-top: 10%;
}
label{
     font-size: 19px;
     font-family: Sans-Serif;
     font-weight: bold;
     margin-bottom: 2%;
     margin-top: 4%;
     margin-left: 3%;
}
input[type="text"]{
     width: 95%;
     font-size: 17px;
     margin-left: 2.5%;
     margin-top: 4%;
     height: 45px;
     border-radius: 10px;
     background: inherit;
     border: 0.5px solid #266B00;
    
}
input[type="email"]{
     width: 95%;
     font-size: 17px;
     margin-left: 2.5%;
     margin-top: 4%;
     height: 45px;
     border-radius: 10px;
     background: inherit;
     border: 0.5px solid #266B00;
    
}
input[type="submit"]{
     width: 34%;
     margin-left: 2.5%;
     margin-top: 3%;
     height: 45px;
     font-size: 17px;
     border-radius: 10px;
     background: #00CBFF;
     border: none;
     outline: none;
    
}
input[type="text"]:focus{
     width: 95%;
     margin-left: 2.5%;
     margin-top: 2%;
     height: 45px;
     padding: 6px;
     border-radius: 10px;
     background: inherit;
     border: 1px solid white;
    outline: none;
}
input[type="email"]:focus{
     width: 95%;
     margin-left: 2.5%;
     margin-top: 2%;
     height: 45px;
     padding: 6px;
     border-radius: 10px;
     background: inherit;
     border: 1px solid white;
    outline: none;
}
::placeholder{
     padding-left: 8px;
}
.page4{
     height: auto;
     margin-top: 10%;
     width: 100%;
}
.page4 h2{
     text-align: center;
     color: white;
}
.fin{
     width: 100%;
     height: 50vh;
     border-start-end-radius: 9%;
     border-start-start-radius: 9%;
     margin-top: 8%;
}
.page4 h3{
     float: left;
     margin-left: 5%;
     font-size: 30px;
     color: white;
}
.page5{
     margin-top: 20%;
     width: 100%;
     color: white;
     height: auto;
     background: inherit;
     box-shadow:0px 8px 8px 0px;
}
#reply{
    height: 50vh;
    background: #21241E;
    border-radius: 12px;
    width: 100%;
    margin-top: 7%;
}
#reply .ico{
     width: 10%;
     height: 10%;
     margin-top: 10%;
     border-radius: 50%;
}
.page5 h2{
     font-size: 30px;
     margin-top: 10%;
     text-align: center;
}
#reply p{
     font-size: 20px;
     font-weight: bold;
     margin-top: 12%;
     margin-left: 3%;
}
.rep{
     width: 10%;
     height: 10%;
     border-radius: 50%;
     margin-top: 7%;
}
#reply span{
    padding-left: 10px;
    margin-bottom: 12%;
   font-size: 21px;
}
footer{
     margin-top: 20%;
     text-align: center;
     align-items: center;
     height: 20vh;
     width: 100%;
}
footer img{
     width: 20%;
     height: 15%;
     border-radius: 50%;
}
footer p{
     color: white;
     font-size: 20px;
     padding-inline: 15px;
}
@media screen and (min-width:600px){
    .intro{
         position: absolute;
    }
    .roll{
     width: 80%;
     background-image: url('roll.png');
     margin-top: 1%; 
     border:none;
     margin-left: 10%;
     background-position: center;
     background-repeat: no-repeat;
     object-fit: fit;
     background-size: cover;

     outline: none;
     height: 60vh;
}
.page1{
     margin-top: 14%;
     text-align: center;
     align-items: center;
     height: auto;
     width: 100%;
}
.page1 h1{
    padding-inline: 25px; 
    color: whitesmoke;
    font-size: 3em;
}
.of{
     color: #15FF00;
}
.page1 p{
     margin-top: 6%;
     padding-inline: 20px;
     color: whitesmoke;
     font-size: 19px;
}
.page1 button {
     margin-top: 15%;
     border: none;
     outline: none;
     font-size: 30px;
     width: 54%;
     height: 70px;
     color: black;
     background:  #00CBFF;
     border-radius: 10px;
}
.page1 button i{
     font-size: 27px;
     padding-left: 18px;
}
h1{
     display: block;
}
.boll{
     display: none;
}
.page2{
     height: auto;
     width:100% ;
}

.service{
     float: left;
     width: 33.3%;
     box-sizing: border-box;
}
.page2 h2{
     text-align: center;
     font-size: 34px;
     color: white;
}
.service img{
     width: 12%;
     height:20%;
     align-items: left;
     text-align: left;
     
}
.service h2{
     text-align: left;
     align-items: left;
}
.service{
     margin-top: 6%;
}
.service p{
     text-align: left;
     align-items: left;
     color: white;
     font-size: 18px;
 
}
}